<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h3>To-Do List</h3>
    <form  method="POST">
        <div class="input-section">
        <input type="text" id="new-task" name="task-text" placeholder="Add a new task..." />
        <select name="priority" aria-label="Priority">
          <option value="low" selected>Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
        <button id="add-task-btn">Add Task</button>
        </div>
    </form>
    
    <ul id="task-list">
      {% for task in tasks %}
        <li class="{{'completed' if task.done else 'not-completed'}} priority-{{ task.priority }}">
          <span>[{{ task.id }}]</span>
          <span>{{ task.title }}</span>
          <span class="badge badge-{{ task.priority }}">{{ task.priority|capitalize }}</span>
          <a class="inline" href="{{ url_for('main.update', task_id=task.id) }}">  Edit</a>
          <form method="POST" action="{{ url_for('main.toggle', task_id=task.id) }}" style="display:inline">
            <button type="submit">{{ 'Undo' if task.done else 'Done' }}</button>
          </form>
          <form method="POST" action="{{ url_for('main.delete', task_id=task.id) }}" style="display:inline">
            <button type="submit">Delete</button>
          </form>
        </li>
      {% else %}
        <li>"No tasks yes. Add a task!"</li>
      {% endfor %}
    </ul>
  </div>

  <!-- <script src="todo-script.js"></script> -->
</body>
</html>
