<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h3>To-Do List</h3>
    <form  method="POST">
        <div class="input-section">
        <input type="text" id="new-task" name="task-text" placeholder="Add a new task..." />
        <button id="add-task-btn">Add Task</button>
        </div>
    </form>
    
    <ul id="task-list">
      <li class="not-completed">test </li>
      <li class="not-completed">test2</li>
      <li class="completed">test3</li>
    </ul>
  </div>

  <script src="todo-script.js"></script>
</body>
</html>
